.col{
    height: 50px;
    background-color: #006cfa;
    border: 1px solid white;
    color: white;
}
.nasted{
    height: 30px;
    background-color:#00e165;
    border: 1px solid #006cfa;
} 
.mtop-20px{
    margin-top: 20px;
}